# TODO: Update with exact module version
# --extra-index-url https://download.pytorch.org/whl/cu111

# torch==1.8.1+cu111
# torchvision==0.9.1+cu111

numpy<=1.23.5
opencv_python
loguru
tqdm
thop
ninja
tabulate
psutil
tensorboard

# verified versions
# pycocotools corresponds to https://github.com/ppwwyyxx/cocoapi
pycocotools>=2.0.2
onnx>=1.13.0
onnx-simplifier==0.4.10
